requests
smtplib3
netifaces
scapy
argparse
rich
webbrowser
tqdm
colorama
nmap
# geoip2 (commented because the import is commented in your script)
# Consider uncommenting this if you intend to use geoip2 functionality:
# geoip2
